<div id="about-template" class="content pages about hidden">
  <p>
    Having gained her Higher National Diploma In Jewellery and Silversmithing at
    the Birmingham School of Jewellery in 2002, Lucy Ramsbottom honed her design
    and making skills working in Australia and New Zealand before establishing
    her own workshop in the UK in 2010.
  </p>

  <p>
    Raised in the Howgill Fells, which nestle between the Lake District and
    Yorkshire Dales, it is not surprising that the natural world provides the
    inspiration for much of her work.
  </p>
</div>
