<div id="gallery/birds-template" class="hidden">
  <ul class="gallery gallery-items">
    <li class="jewellery-piece">
      <p>Round Peridot and fine silver earrings.</p>
      <img alt="Rev Bird55" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/rev_bird55.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>No description.</p>
      <img alt="G1.1" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g1.1.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Sterling silver long necklace.</p>
      <img alt="G1.3" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g1.3.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Round Peridot, fine silver textured bird pendant on silver chain.</p>
      <img alt="Rev Bird33" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/rev_bird33.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Oval Peridot, fine silver textured bird pendant on hand platted silk.</p>
      <img alt="Rev Bird44" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/rev_bird44.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>
        Oval Citrine set in 18ct yellow gold, fine silver embossed bird
        pendant on 18ct yellow gold chain.
      </p>
      <img alt="Rev Bird22" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/rev_bird22.jpg" />
    </li>
  </ul>

  <p><a href="#gallery">Back to gallery</a></p>
</div>
