<div id="gallery/commissions-template" class="hidden">
  <ul class="gallery gallery-items">
    <li class="jewellery-piece">
      <p>Diamond and recycled 18ct yellow gold ring.</p>
      <img alt="G5.2" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g5.2.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Fine silver, sterling silver and Peridot dragonfly brooch.</p>
      <img alt="Dragonfly" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/dragonfly.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>
        Cushion shaped green Tourmaline, recycled 18ct yellow gold and
        sterling silver ring.
      </p>
      <img alt="G5.1" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g5.1.jpg" />
    </li>

    <p><a href="#gallery">Back to gallery</a></p>
  </ul>
</div>
