<div id="gallery-template" class="hidden gallery gallery-index">
  <p>Click on the image for each collection</p>

  <nav>
    <ul>
      <li class="weather gallery">
        <a href="#gallery/weather">Weather</a>
      </li>

      <li class="birds gallery">
        <a href="#gallery/birds">Birds</a>
      </li>

      <li class="peace-doves gallery">
        <a href="#gallery/peace-doves">Peace Doves</a>
      </li>

      <li class="commissions gallery">
        <a href="#gallery/commissions">Commissions</a>
      </li>

      <li class="branches gallery">
        <a href="#gallery/branches">Branches</a>
      </li>

      <li class="woodlands gallery">
        <a href="#gallery/woodlands">Woodlands</a>
      </li>
    </ul>
  </nav>
</div>
