<div id="latest-news-template" class="hidden latest-news">
  <ul class="news-items">
    <li class="news-category stockists">
      <h2 class="category-name">Stockists</h2>

      <article class="news-item">
        <div class="content">
          <p>
            'Supplier' - Red Barn Gallery. Melkinthorpe, Penrith, Cumbria,
            CA10 2DR. Tel 01931 712 767. info@redbarngallery.co.uk -
            http://www.redbarngallery.co.uk
          </p>
        </div>
      </article>
    </li>

    <li class="news-category events-and-exhibitions">
      <h2 class="category-name">Events &amp; Exhibitions</h2>
      <article class="news-item">
        <div class="content">
          <p>
            Craftsmanship and Design Awards 2011 Exhibition Goldsmiths '
            Hall, Foster Lane, London, EC2V 6BN. March 2011.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            'Spirit' exhibition at Heart Gallery, The Arts Centre, Hebden
            Bridge, North Yorkshire. 23rd September - 31st October 2012.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Great Northern Contemporary Craft Fair 2012 in Hardman Square,
            Spinningfields, Manchester. 4th - 7th October.
            greatnorthernevents.co.uk.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Stockport Designer Crafts Show 2012 at Stockport Art
            Gallery,Wellington Road South, Stockport. 24th November - 27th
            January.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Christmas Craft Market at The Brewery Arts Centre, Kendal,
            Cumbria. 30th November - 2nd December 2012.
          </p>
        </div>
      </article>
    </li>

    <li class="news-category awards">
      <h2 class="category-name">Awards</h2>

      <article class="news-item">
        <div class="content">
          <p>
            Goldsmiths' Craft and Design Council. Craftsmanship and Design
            Awards 2011. 'Commended' for Fashion Jewellery Production.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Goldsmiths' Craft and Design Council. Craftsmanship and Design
            Awards 2005. 'Commended' for 3D production jewellery.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Goldsmiths' Council. Craftsmanship and Design Awards 2003.
            'Silver' for finished pieces.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            British Jewellers' Association, 2002, Certificate of Merit for
            Higher National Diploma in Jewellery and Silversmithing, 2nd year
            student – 1st prize.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            B.J.A. 2001, Commendation Award for H.N.D. in Jewellery and
            Silversmithing, 1st year student.
          </p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>B.J.A. 2001, Awarded the travel bursary.</p>
        </div>
      </article>

      <article class="news-item">
        <div class="content">
          <p>
            Arthur Price of England Design Competition 2001, 1st prize for
            designing a bowl, which was produced and sold by the Arthur Price
            Company.
          </p>
        </div>
      </article>
    </li>

    <li class="news-category press">
      <h2 class="category-name">Press</h2>

      <article class="news-item">
        <div class="content">
          <p>The Guide</p>
        </div>

        <img alt="The guide" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/the_guide.jpg" />
      </article>
    </li>
  </ul>
</div>
