<div id="gallery/peace-doves-template" class="hidden">
  <ul class="gallery gallery-items">
    <li class="jewellery-piece">
      <p>Sterling silver ring with paper and resin.</p>
      <img alt="G3.3" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g3.3.jpg">
    </li>

    <li class="jewellery-piece">
      <p>Large sterling silver and cultured pearl dove pendant on hand platted linen. Small sterling silver and cultured pearl brooch.</p>
      <img alt="G3.1" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g3.1.jpg">
    </li>

    <li class="jewellery-piece">
      <p>Broochs in sterling silver, suede and acrylic.</p>
      <img alt="G3.2" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/g3.2.jpg">
    </li>
  </ul>

  <p><a href="#gallery">Back to gallery</a></p>
</div>
