<div id="gallery/weather-template" class="hidden">
  <ul class="gallery gallery-items">
    <li class="jewellery-piece">
      <p>Oxidised silver and oval Labradorite cloud pendant.</p>
      <img alt="C15" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C15.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Oxidised silver and oval Labradorite drop necklace.</p>
      <img alt="C29" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C29.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Oxidised silver and oval Labradorite ring.</p>
      <img alt="C20" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C20.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Oxidised silver and Labradorite cloud pendant.</p>
      <img alt="C26" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C26.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Oxidised silver and Labradorite cloud pendants.</p>
      <img alt="C19 C27" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C19-C27.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Silver, 18ct yellow gold and Citrine cloud pendant.</p>
      <img alt="C28" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/C28.jpg" />
    </li>

    <p><a href="#gallery">Back to gallery</a></p>
  </ul>
</div>
