<div id="gallery/woodlands-template" class="hidden">
  <ul class="gallery gallery-items">
    <li class="jewellery-piece">
      <p>Silver acorn pendant.</p>
      <img alt="Dscf0182 Copy" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/DSCF0182-copy.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Silver acorn with enamel oak leaf pendant.</p>
      <img alt="Dscf0159 Copy" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/DSCF0159-copy.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Silver and enamel necklace.</p>
      <img alt="Dscf0176 Copy" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/DSCF0176-copy.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Silver and enamel lapel pin.</p>
      <img alt="Dscf0186 Copy" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/DSCF0186-copy.jpg" />
    </li>

    <li class="jewellery-piece">
      <p>Silver studs.</p>
      <img alt="Dscf0189 Copy" src="http://goldfinchjewellery.s3-eu-west-1.amazonaws.com/DSCF0189-copy.jpg" />
    </li>

    <p><a href="#gallery">Back to gallery</a></p>
  </ul>
</div>
