body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 3em;
  margin: 0 auto;
  width: 960px;
  color: #666;
}

header {
  position: relative;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
}

header nav ul {
  margin: 10px 0 0;
}

header nav li {
  list-style-type: circle;
  padding: 8px;
}

header nav li.current {
  list-style-type: disc;
}

header nav a {
  text-decoration: none;
  color: #666;
}

.hidden {
  display: none;
}

.gallery-index nav {
  position: relative;
  height: 500px;
}

.gallery-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-index li {
  position: absolute;
}

.gallery-index a {
  display: block;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.gallery-index .weather {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/weather.jpg) no-repeat 0 0;
}

.gallery-index .birds {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/birds.jpg) no-repeat 0 0;
}

.gallery-index .peace-doves {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/peace-doves.jpg) no-repeat 0 0;
}

.gallery-index .commissions {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/commissions.jpg) no-repeat 0 0;
}

.gallery-index .branches {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/branches.jpg) no-repeat 0 0;
}

.gallery-index .woodlands {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/gallery/woodlands.jpg) no-repeat 0 0;
}

.gallery-index .peace-doves {
  left: 150px;
  top: 20px;
  width: 175px;
  height: 182px;
}

.gallery-index .weather {
  top: -100px;
  left: 450px;
  width: 175px;
  height: 123px;
}

.gallery-index .birds {
  top: -30px;
  right: 50px;
  width: 175px;
  height: 153px;
}

.gallery-index .commissions {
  bottom: 0;
  left: 0;
  width: 275px;
  height: 167px;
}

.gallery-index .branches {
  bottom: 0;
  left: 370px;
  width: 175px;
  height: 145px;
}

.gallery-index .woodlands {
  bottom: 70px;
  right: 0;
  width: 400px;
  height: 272px;
}

.gallery-items {
  width: 516px;
  margin: 0 auto;
  list-style: none;
}

.gallery-items p {
  float: left;
  width: 200px;
}

.jewellery-piece {
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

.jewellery-piece img {
  float: right;
}

.news-items {
  width: 620px;
  margin: 0 auto;
  list-style: none;
}

.news-items .category-name {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 47px;
}

.news-items .stockists .category-name {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/stockists_header.jpg) no-repeat right top;
}

.news-items .events-and-exhibitions .category-name {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/events_and_exhibitions_header.jpg) no-repeat right top;
}

.news-items .awards .category-name {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/awards_header.jpg) no-repeat right top;
}

.news-items .press .category-name {
  background: transparent url(https://s3-eu-west-1.amazonaws.com/goldfinchjewellery/press_header.jpg) no-repeat right top;
}

.about {
  width: 460px;
}

.contact {
  position: relative;
}

.contact img {
  float: left;
  margin-top: -100px;
  margin-left: 115px;
}

.contact p {
  padding-right: 35px;
}
